<a href="https://colab.research.google.com/github/GiteshWagh/Experiment_No.5/blob/main/Experiment_No_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Experiment 5 : Study Of Sets & Dictionary

# Name - Gitesh Wagh
# PRN - 25070123163
# Branch - F.Y. E&TC (2025-29)
# Batch - A1
# Subject - Exploratory Data Analysis With Python

In [ ]:
# Basics Of Set
# It is also a datatype. That store multiple items in single variables. Denoted by {}. Set is unordered.
ExampleSet = {"Python","Java","Ruby","R","C#","C++"} # Example

print(ExampleSet)
print(len(ExampleSet)) # Length of set
print(type(ExampleSet)) # Output : <class 'set'>

# Note : Values True & 1 is and False & 0 are considered as same in sets.
TestSet = {True,1,False,0}
print(TestSet)

ExampleSet2 = {1,"String",True,[1,2,3,4,5],3.14} # Sets supports all type of datatypes.
print(ExampleSet2)

{'Java', 'C#', 'Ruby', 'Python', 'C++', 'R'}
6
<class 'set'>
{False, True}
{1, 'String', 3.14, (1, 2, 3, 4, 5)}

In [ ]:
ExampleSet = {"Python","Java","Ruby","R","C#","C++"} # Example
ExampleSet2 = {1,"String",True,(1,2,3,4,5),3.14}
ExampleSet.add("Javascript") # Adding an item
print(ExampleSet)
ExampleSet.remove("Java") # Removing an item
print(ExampleSet)

# Set Operations
print("Union Of Sets : ", ExampleSet | ExampleSet2)
print("Intersection Of Sets : ", ExampleSet & ExampleSet2)
print()

{'Java', 'C#', 'Javascript', 'Ruby', 'Python', 'C++', 'R'}
{'C#', 'Javascript', 'Ruby', 'Python', 'C++', 'R'}
Union {1, 'String', 'C#', 'Javascript', 3.14, 'Python', 'C++', 'R', 'Ruby', (1, 2, 3, 4, 5)}

In [ ]:
# Frozensets in Python
FrozenSet1 = frozenset({1,2,3,4,5}) # Frozensets are immutable sets
FrozenSet2 = frozenset({5,6,7,8,9,10})

FrozenSet1.add(88) # It gives error don't try
print(FrozenSet1)
# Error :
"""
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
/tmp/ipython-input-2665206906.py in <cell line: 0>()
      4 FrozenSet2 = frozenset({5,6,7,8,9,10})
      5
----> 6 FrozenSet1.add(88)
      7 print(FrozenSet1)

AttributeError: 'frozenset' object has no attribute 'add'
"""

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
# Problem 1:
# unique event participants. A college event hass alist of students but some of them registered more than once. So remove duplications in list.

# Solution :
participants = ["Abhay","Athrav","Aryan","Aryan"]
NewSet=set(participants)

print(NewSet)

{'Aryan', 'Abhay', 'Athrav'}

In [ ]:
# Problem 2:
# Three student choose elective subject find out common elective choosen by two students.

# Solution :
Student1 = {"Cyber Security", "AI", "Semiconductor"}
Student2 = {"Cyber Security", "Machine Learning"}
Student3 = {"Quantum Computing","Cyber Security"}

print("Common electives is Student 1 And Student 2 is : ",Student1 & Student2)
print("Common electives is Student 1 And Student 3 is : ",Student1 & Student3)
print("Common electives is Student 2 And Student 3 is : ",Student2 & Student3)

Common electives is Student 1 And Student 2 is :  {'Cyber Security'}
Common electives is Student 1 And Student 3 is :  {'Cyber Security'}
Common electives is Student 2 And Student 3 is :  {'Cyber Security'}

In [ ]:
# Problem 3 :
# One set students in AI Club and another in the ML Club. Find the student common in both and not common.

# Solution :
AI = {"Student1","Student2","Studnet3","Student4","Student6"}
ML = {"Student2","Student3","Student5","Student6","Student3"}

print("Students in AI Club but not in ML Club : ",AI-ML)
print("Students in ML Club but not in AI Club : ",ML-AI)
print("Students in AI Club and ML Club : ",AI & ML)

Students in AI Club but not in ML Club :  {'Studnet3', 'Student4', 'Student1'}
Students in ML Club but not in AI Club :  {'Student3', 'Student5'}
Students in AI Club and ML Club :  {'Student6', 'Student2'}

In [ ]:
# Problem 4 :
# A set contains the list of courses in and use remove() or discard()
# Solution :
courses = {"These are the cources : ETC101","ETC102","ETC103","ETC104","ETC105"}
print(courses)

CoursesToWork = input("Enter the course to remove or add : ")
if input == "remove":
    courses.remove(CoursesToWork)
    print(courses)

else:
    courses.add(CoursesToWork)
    print(courses)

{'ETC103', 'These are the cources : ETC101', 'ETC102', 'ETC105', 'ETC104'}
Enter the course to remove or add : add
{'add', 'ETC103', 'These are the cources : ETC101', 'ETC102', 'ETC105', 'ETC104'}

In [ ]:
# Problem 5 :
# Given the set of all students and a set of present students, find the absent student .
# Concept used : Set Difference(-)

# Solution :
# Set of all students in class
AllStudents = {"Student1","Student2","Student3","Student4","Student5","Student6","Student7"}

# Set of all present students
PresentStudents = {"Student1","Student2","Student4"}

# Absent students are those who are not present in the set of present students.
AbsentStudents = AllStudents - PresentStudents
print("These students are absent : ",AbsentStudents) # List of absent students

These students are absent :  {'Student6', 'Student7', 'Student3', 'Student5'}

In [ ]:
# Basics Of Dictionary
laptop = {
    "brand" : "Dell",
    "model" : "G15",
    "year" : 2022
}

print(laptop)

# Length of the dictionary
print(len(laptop))

# Type of variable
print(type(laptop))
# Output : <class 'dict'>

# Changing the values
laptop["year"] = 2023
print(laptop)

# Retrival of values
print("Brand : ",laptop['brand'])

# Adding a new item with kay
laptop["Price"] = 55000
print(laptop)

# Removing elements from list
laptop.pop("Price") # Price & 55000 removed from dictionary
print(laptop)

{'brand': 'Dell', 'model': 'G15', 'year': 2022}
3
<class 'dict'>
{'brand': 'Dell', 'model': 'G15', 'year': 2023}
Brand :  Dell
{'brand': 'Dell', 'model': 'G15', 'year': 2023, 'Price': 55000}
{'brand': 'Dell', 'model': 'G15', 'year': 2023}

In [ ]:
# Problem 1 :
# A dictionary store product names and their prices. Write a Python code top update the price of the given product

# Solution :
# Primary dictionary
LaptopStore = {
    "Asus A15" :"55000",
    "Gigabyte G16" : "75000"
}
print("Original Prices : ",LaptopStore)

LaptopStore["Asus A15"] = "45000"
print("Updated Prices : ",LaptopStore)

Original Prices :  {'Asus A15': '55000', 'Gigabyte G16': '75000'}
Updated Prices :  {'Asus A15': '45000', 'Gigabyte G16': '75000'}

In [ ]:
# Problem 2 :
# A dictionary stores the student roll number and marks. Write a Python code to find the student's marks using their name .
# And if student is not found then display the suitable meassage.

# Solution :
Students = {
    "001" : "97",
    "002" : "88",
    "003" : "90"
}

RollNumber = input("Enter the Roll Number : ")
print(Students.get(RollNumber, "Student is not is list"))

Enter the Roll Number : 001
97

In [ ]:
# Problem 3 :
# A dictionary stores username and passwords. Write a code to validate user login.

# Solution :
Users = {
    "User1" : "Pass1",
    "User2" : "Pass2",
    "User3" : "Pass3"
}

Username = str(input("Enter the Username : "))

if Username in Users:
  Password = str(input("Enter the Password : "))
  if Users[Username] == Password:
     print("***** Login Successful *****")
  else:
      print("***** Login Failed *****")

else:
  print("User is not found !!!")

Enter the Username : kjkjkjk
User is not found !!!

In [ ]:
# Problem 4 :
# A dictionary store student names and marks. Write a code to find the topper in the list of students.

# Soution :
Student = {
    "Student1" : "97",
    "Student2" : "88",
    "Student3" : "90",
    "Student4" : "80"
}

MaxMarks = max(Student.values())
topper = max(Student, key=Student.get)

print("Topper is : ",topper)
print("Marks : ",MaxMarks)

Topper is :  Student1
Marks :  97